.main_cart_container {
  width: 100%;
}

.cart_container {
  display: flex;
  justify-content: end;
  align-items: center;
  top: 0px;
  right: 0px;
  position: fixed;
  z-index: 9;
}

.cart_open {
  display: flex;
  justify-content: end;
  font-size: 2rem;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(50, 50, 50, 0.5);

  transition: all 100ms;
}
.btn-xmark {
  border: none;
  background: none;
}
.cart_close {
  font-size: 2rem;

  backdrop-filter: blur(0px);
}

.add_cart_product {
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: var(--very-light);
  overflow: scroll;

  transition: transform 100ms, opacity 300ms;
}

.cart_close .add_cart_product {
  opacity: 0;
  transform: translateX(300px);
}

.cart_open .add_cart_product {
  opacity: 1;
  transform: translateX(0px);
}

.add_cart_product::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.add_cart_product::-webkit-scrollbar {
  width: 3px;
  height: 1px;
  background-color: #f5f5f5;
}

.add_cart_product::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.header_cart {
  background-color: var(--light);
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0px 0px 10px;
}

.header_cart h1 {
  font-size: 1.5rem;
}

.xmark {
  font-size: 3.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .add_cart_product {
    max-width: 100%;
  }

  .header_cart {
    display: flex;
    justify-content: space-between;
  }

  .text_header {
    flex-wrap: wrap;
    visibility: visible;
    font-size: 2rem;
  }
}

.main_product_cart_container {
  margin: 0.3rem;
}

.loader_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.product_cart {
  display: flex;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-color: white;
  width: 100%;
  margin-bottom: 0.5rem;
}

.container_image_product_cart {
  width: 20%;
  max-height: 100%;
  padding: 8px;
}

.container_image_product_cart img {
  box-shadow: 0px 0px 8px 0px rgba(133, 133, 133, 1);
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.info_product_cart {
  margin: 0.5rem;
}

.name {
  font-size: 1rem;
}

.price {
  font-size: 1rem;
  color: #a5a5a5d5;
}

.container_info_product_cart {
  margin-top: 0.7rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50%;
  padding: 5px;
}

.container_info_product_cart svg {
  margin-top: 0.5rem;
  margin-right: 0.7rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.button_shooping_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

.button_shooping_container button {
  background-color: rgba(25, 25, 25, 0.911);
  color: white;
  border: none;
  width: 45%;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  padding: 5px;
  margin-bottom: 1rem;
}

.loader_cart_container {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.no_product_cart {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}
