.product_home_container{
  margin: 1rem;
  columns: 5 220px;
  gap: 10px;
}

.columns{
  display: inline-block;
  height: 100%;
  margin-top: 0.5rem;
}

@media (max-width: 1080px){
  .product_home_container{
    columns: 3 150px;
    gap: 10px;
  }
}


@media (max-width: 1250px){
  .product_home_container{
    columns: 4 150px;
    gap: 10px;
  }
}
