.model_home_container{
  background-color: #f5f5f5;
  justify-content: center;
  align-items: center;
}

.modal{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_home_container{
  margin: 1rem;
  columns: 5 220px;
  gap: 20px;
}

.columns{
  display: inline-block;
  height: 100%;
  margin-top: 0.5rem;
}

@media screen and (max-width: 1080px){
  .product_home_container{
    columns: 3 150px;
    gap: 20px;
  }
}


@media screen and (max-width: 1250px){
  .product_home_container{
    columns: 4 150px;
    gap: 20px;
  }
}
