*{
  font-family: Arial, Helvetica, sans-serif;
}

.container_login{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.login{
  background-color: aliceblue;
  width: 300px;
  height: auto;
  border-radius: 10px;
  padding: 10px;
}

.title{
  color: rebeccapurple;
  margin-bottom: 1rem;
}

.container_form{
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 5px;
}


.input_form{
  margin-bottom: 0.5rem;
  border-radius: 10px;
  width: 80%;
  padding: 8px;
  border: none;
  outline: none;
}

.options_login{
  width: 100%;
}

.button_login{
  background-color: var(--secondary);
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.2em;
  width: 50%;
  height: 5vh;
  cursor: pointer;
}

h5{
  margin-bottom: 0.5em;
  margin-top: 15px;
}

.redirect_singup{
  text-decoration: none;
}

.login{
  animation-duration: 2s;
  animation-name: login;
}

@keyframes login {
  from{
    margin-top: 40vh;
    opacity: 0;
  }

  to{
    margin-left: 0%;
    opacity: 1;
  }
}

span{
  font-size: 11px;
  color: red;
  margin-bottom: 5px;
}

