.main_nav_container{
  display: block;
  background-color: var(--very-light);
  margin-bottom: 2rem;

}
.container_nav{
  display: flex;
  justify-content: space-between;
  align-items: center;

  width:95%;
  max-width: 1200px;
  margin: 0 auto;

}
.container_logo{
  display: block;
}

.container_logo img{
  display: block;
  max-width: 75px;
}

.search-container{
  display: block;
  position: relative;
  flex-grow: 1;
  padding: 0 1rem;
}

.search-container .search-input{
  width: 100%;
  padding:0.9rem 1rem; 
  font-size: 1.1em;
  border: none;
  background-color: var(--light);
  outline: none;
  border-radius: 999px;
}

.search-container .search-btn{
  position: absolute;
  top: 0;
  right: 1rem;
  height: 100%;
  padding: 0rem 1rem;
  font-size: 1.5em;
  background-color:transparent;
  color: var(--dark);
  border: none;
  border-radius: 999px;
  cursor: pointer;
  font-size: 2rem;
  transition: all 300ms;
}
.search-container .search-btn:hover{
  background-color: rgba(102, 102, 102, 0.382);
}
.search-container .search-btn .search-icon{
  margin-top: 0.4rem;
}

.container-links{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}
.container-links li{
  padding: 0.5rem;
}
.container-links li a{
  display: block;
  color: var(--dark);
  text-decoration: none;
}

.container-links li a.active{
  color: var(--secondary);
}


@media(max-width: 768px) {
  .container-links{
    display: none;
  }
}

.container-links-mobile{
  display: none;
  list-style: none;
}



@media(max-width: 768px) {
  .container-links-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--light);
    z-index: 9;
    padding: 0 1rem;
  }
  .container-links li{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  .container-links-mobile li a.active{
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--secondary);

    transform: scale(1.1);


  }
  .container-links-mobile li a{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--dark);
    text-decoration: none;
    padding: 1rem;
  }
  .container-links-mobile li a svg{
    display: block;
    font-size: 1.3em;

    margin: 0 auto;
  }

  .cart-mobile{
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
  }

  .cart-icon{
    font-size: 1.5rem;
    margin-bottom: -0.5rem;
  }
}


.logout{
  background-color: red;
}