.main_container_payment {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  height: 100vh;

  margin: 0 auto;
}

.product_payment_container {
  width: 100%;
  max-height: 100%;
  padding: 0 15px;
  overflow: scroll;
  overflow-x: hidden;
  height: calc(100% - 200px);
}

.product_payment_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.product_payment_container::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.product_payment_container::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
  border-radius: 100px;
}

.header_product_payment_container h1 {
  margin-bottom: 0.5rem;
}

.header_product_payment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.body_payment_product {
  width: 100%;
}

.payment_product {
  width: 100%;
  display: flex;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.payment_product img {
  box-shadow: 0px 0px 8px 0px rgba(133, 133, 133, 1);
  width: 15%;
  border-radius: 10px;
}

.info_pay_product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0rem 0rem 1rem;
}

.price_payment_container {
  width: 100%;
}

.price_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 100%;

  border: 1px solid rgba(179, 179, 179, 0.83);
  border-radius: 10px;
  padding: 1rem;
}

.price_payment a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.911);
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 0;
}

.total_price_payment {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 100%;
  margin-bottom: 1rem;
  padding: rem;

  border-radius: 10px;
}

.total_price_payment p {
  font-size: 1rem;
}

.pay_loader {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}

@media (min-width: 768px) {
  .main_container_payment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: calc(100vh);
  }
  .product_payment_container {
    width: calc(50% - 0.5rem);
    height: calc(100% - 6rem);
  }
  .price_payment_container {
    width: calc(50% - 0.5rem);
    height: calc(100% - 6rem);
  }
  .price_payment {
    height: 150px;
  }
}
