.main_container_payment {
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 3rem;
  max-width: 1200px;
  margin: 0 auto;
}

.product_payment_container {
  width: 50%;
  max-height: 100%;
  padding: 15px;
  overflow: scroll;
  overflow-x: hidden;
}

.product_payment_container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.product_payment_container::-webkit-scrollbar {
  width: 4px;
  background-color: #f5f5f5;
}

.product_payment_container::-webkit-scrollbar-thumb {
  background-color: #000000;
  border: 2px solid #555555;
}

.header_product_payment_container h1 {
  margin-bottom: 0.5rem;
}

.header_product_payment {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .product_payment_container h1 {
    font-size: 1.5rem;
  }

  .header_product_payment p {
    font-size: 0.7rem;
  }

  .product_payment_container::-webkit-scrollbar {
    width: 2px;
    background-color: #f5f5f5;
  }

  .product_payment_container::-webkit-scrollbar-thumb {
    background-color: #000000;
    border: 2px solid #555555;
  }

  .payment_product img {
    width: 40%;
  }

  .info_pay_product p {
    font-size: 0.5rem;
    margin-left: -0.6rem;
  }

  .price_payment {
    width: 90%;
    height: 15%;
  }

  .pay_loader {
    size: 10px;
  }

  .price_payment h3 {
    font-size: 0.7rem;
  }

  .price_payment a {
    font-size: 0.7rem;
    padding: 0.4rem 0;
  }
}

hr {
  margin-top: 0.5rem;
  border-top: 1px solid rgba(190, 190, 190, 0.652);
}

.body_payment_product {
  width: 100%;
}

.payment_product {
  width: 100%;
  display: flex;
  margin-top: 1rem;
}

.payment_product img {
  box-shadow: 0px 0px 8px 0px rgba(133, 133, 133, 1);
  width: 15%;
  border-radius: 10px;
}

.info_pay_product {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0rem 0rem 1rem;
}

.price_payment_container {
  width: 50%;
  padding: 10px;
}

.price_payment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 30%;
  border: 1px solid rgba(179, 179, 179, 0.83);
  border-radius: 10px;
  margin: 2rem;
  padding: 1rem;
}

.price_payment a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(25, 25, 25, 0.911);
  color: white;
  text-decoration: none;
  font-size: 0.8rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 1rem 0;
}

@media (max-width: 820px) {
  .price_payment {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 20%;
    margin: 2rem;
    padding: 1rem;
    height: 150px;
  }
}

.total_price_payment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_price_payment p {
  font-size: 1rem;
}

.pay_loader {
  font-size: 0.5rem;
  margin: 0;
  padding: 0;
}

@media (max-width: 420px) {
  .p {
    display: flex;
    flex-wrap: wrap;

    width: 70px;
  }

  .total_price_payment {
    display: flex;
    /* font-size: 0.7rem; */
  }

  .total_price_payment p {
    font-size: 0.7rem;
  }

  .price_payment {
    width: 90%;
    height: 20%;
    margin: 2rem;
    padding: 1rem;
  }

  /* .price_payment h3{
    font-size: 0.7rem;
    } */

  .price_payment a {
    font-size: 0.7rem;
    padding: 0.4rem 0;
  }
}
